Найти:
<input ng-model="myQuery"><br><br>

Сортировать по:
<select ng-model="myOrderProperty">
    <option value="id">ID</option>
    <option value="name">Имя</option>
    <option value="weight">Весу (возрастание)</option>
    <option value="-weight">Весу (убывание)</option>
    <option value="height">Росту</option>
</select><br><br>

Тип:
<select ng-model="search.type">
    <option value="">Все</option>
    <option value="grass">Трава</option>
    <option value="water">Вода</option>
    <option value="fire">Огонь</option>
    <option value="electric">Электричество</option>
</select>

<ul>
    <li ng-repeat="pokemon in pokemons | filter: myQuery | filter: search | orderBy: myOrderProperty">
        <img src="{{pokemon.ThumbnailImage}}" ng-click="showName(pokemon)">

        <small>ID #{{pokemon.id }}</small>
        <h1 style="color: {{ color(pokemon) }}">{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: {{pokemon.type [0]}}</p>
        <hr />
    </li>
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие
    {{myQuery}}
</p>
